<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.ibericoders.ibinternal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.ibericoders.ibinternal.app.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".app.activities.dices.DicesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".app.activities.expenses.ExpensesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".app.activities.expenses.NewExpenseActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".app.activities.records.RecordsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".app.activities.records.NewRecordActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7e7ad77c45539b0cd92018ee7fcb6c54136efdd0" />
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
